@import '@/styles/mobileVars.scss';

.bao__section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: var(--margin-base);
  justify-content: center;
  margin-top: var(--margin-xxl);
  margin-bottom: var(--margin-xxl);
}

.bao__section__left{
  display: flex;
  align-items: center;
  flex-wrap:wrap;
}

@media screen and (max-width: $mobile-sm) {

  .bao__section {
    grid-template-columns: repeat(1, 1fr);
  }

  .bao__section__right {
    display: none;
  }

}