@import '@/styles/mobileVars.scss';

.help__out__section {
  padding-top: var(--padding-xxl);
  padding-bottom: var(--padding-xxl);
  width: 100%;
  margin-top: var(--margin-xxl);
  margin-bottom: var(--margin-xxl);
}

.help__out__section__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--margin-xxl);
}
.help__out__section__item {
  display: flex;
  align-items: center;
  margin-top: var(--margin-lg);
}

.help__out__section__item__title {
  margin-left: var(--margin-md);
  font-size: var(--font-size-md);
}
.help__out__section__item__icon {
  max-width: 21px;
}




@media screen and (max-width: $mobile-xs) {

  .help__out__section__group {
    grid-template-columns: repeat(1, 1fr);
  }

}