.hero__section {
  width: 100%;
  text-align: center;
  margin-top: var(--margin-lg);
  margin-bottom: var(--margin-lg);
}

.hero__section__text {
  margin-top: var(--margin-md);
  font-size: var(--font-size-xxl);
}