.support__section {
  margin-top: var(--margin-xxl);
  margin-bottom: var(--margin-xxl);
}
.support__section__title{
  margin-bottom: var(--margin-xxl);
}
.support__section__text__highlights {
  font-weight: var(--font-weight-extra-bold);
  color: var(--primary-color);
}