@import '@/styles/mobileVars.scss';
// todo - make more modular
.card__group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--padding-lg);
  margin-top: var(--margin-xxl);
  margin-bottom: var(--margin-xxl);
}

@media screen and (max-width: $mobile-sm) {

  .card__group {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media screen and (max-width: $mobile-xs) {

  .card__group {
    grid-template-columns: repeat(1, 1fr);
  }
}