@import './variables.scss';
@import './normalize.scss';
@import './grid.scss';

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: var(--font-family-one);
}


p {
  font-size: var(--font-size-base);
  line-height: 1.5;
}

h1 {
  font-size: var(--font-size-lg);
  font-weight: bold;
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: bold;
}

h3 {
  font-size: var(--font-size-base);
  font-weight: bold;
}

h4 {
  font-size: var(--font-size-sm);
  font-weight: bold;
}

h5 {
  font-size: var(--font-size-sm);
  font-weight: bold;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}


.switch-to-light {
  display: var(--show-in-dark-mode);
}

.switch-to-dark {
  display: var(--show-in-light-mode)
}

