@import './variables.scss';
@import './normalize.scss';
@import './grid.scss';

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family-one);
}

p {
  font-size: var(--font-size-base);
  line-height: 1.5;
}

h1 {
  font-size: var(--font-size-lg);
  font-weight: bold;
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: bold;
}

h3 {
  font-size: var(--font-size-base);
  font-weight: bold;
}

h4 {
  font-size: var(--font-size-sm);
  font-weight: bold;
}

h5 {
  font-size: var(--font-size-sm);
  font-weight: bold;
}

.main__title__h2 {
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin-bottom: var(--margin-lg);
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 var(--padding-md);
}

section {
  width: 100%;
}

.switch-to-light {
  display: var(--show-in-dark-mode);
}

.switch-to-dark {
  display: var(--show-in-light-mode)
}

// Spacing

$margin-spacing-sizes: (
  xs: var(--margin-xs),
  sm: var(--margin-sm),
  md: var(--margin-md),
  lg: var(--margin-lg),
  xl: var(--margin-xl),
  xxl: var(--margin-xxl),
  xxxl: var(--margin-xxl),
  0: 0,
);

@each $size, $value in $margin-spacing-sizes {
  .mt-#{$size} {
    margin-top: $value;
  }

  .mb-#{$size} {
    margin-bottom: $value;
  }

  .ml-#{$size} {
    margin-left: $value;
  }

  .mr-#{$size} {
    margin-right: $value;
  }

  .mx-#{$size} {
    margin-left: $value;
    margin-right: $value;
  }

  .my-#{$size} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .ma-#{$size} {
    margin: $value;
  }
}

$padding-spacing-sizes: (
  xs: var(--margin-xs),
  sm: var(--margin-sm),
  md: var(--margin-md),
  lg: var(--margin-lg),
  xl: var(--margin-xl),
  xxl: var(--margin-xxl),
  xxxl: var(--margin-xxl),
  0: 0,
);

@each $size, $value in $padding-spacing-sizes {
  .pt-#{$size} {
    padding-top: $value;
  }

  .pb-#{$size} {
    padding-bottom: $value;
  }

  .pl-#{$size} {
    padding-left: $value;
  }

  .pr-#{$size} {
    padding-right: $value;
  }

  .px-#{$size} {
    padding-left: $value;
    padding-right: $value;
  }

  .py-#{$size} {
    padding-top: $value;
    padding-bottom: $value;
  }

  .pa-#{$size} {
    padding: $value;
  }
}