@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,700&display=swap');



:root {
  --background-color: #ffffff;
  --dark-color: #96635a;
  --light-color: #e0e0e0;
  --primary-color: #FFD3BB;
  --secondary-color: #ffd3bb21;
  --accent-color-one: #62271D;
  --font-color: #2c2521;

  --dark-color-900: hsl(0, 0%, 10%);   // Darker
  --dark-color-800: hsl(0, 0%, 20%);
  --dark-color-700: hsl(0, 0%, 30%);
  --dark-color-600: hsl(0, 0%, 40%);
  --dark-color-500: hsl(0, 0%, 50%);   // Base color
  --dark-color-400: hsl(0, 0%, 60%);
  --dark-color-300: hsl(0, 0%, 70%);
  --dark-color-200: hsl(0, 0%, 80%);
  --dark-color-100: hsl(0, 0%, 90%);   // Lighter

  --primary-color: #2c2521;

  --primary-color-900: hsl(25, 35%, 10%);   // Darker
  --primary-color-800: hsl(25, 35%, 20%);
  --primary-color-700: hsl(25, 35%, 30%);
  --primary-color-600: hsl(25, 35%, 40%);
  --primary-color-500: hsl(25, 35%, 50%);   // Base color
  --primary-color-400: hsl(25, 35%, 60%);
  --primary-color-300: hsl(25, 35%, 70%);
  --primary-color-200: hsl(25, 35%, 80%);
  --primary-color-100: hsl(25, 35%, 90%);   // Lighter

  --secondary-color: #FFD3BB;
  --secondary-color-900: hsl(18, 75%, 10%);  // Darker
  --secondary-color-800: hsl(18, 75%, 20%);
  --secondary-color-700: hsl(18, 75%, 30%);
  --secondary-color-600: hsl(18, 75%, 40%);
  --secondary-color-500: hsl(18, 75%, 50%);  // Base color
  --secondary-color-400: hsl(18, 75%, 60%);
  --secondary-color-300: hsl(18, 75%, 70%);
  --secondary-color-200: hsl(18, 75%, 80%);
  --secondary-color-100: hsl(18, 75%, 90%);  // Lighter
  // darkmode toggle
  --show-in-dark-mode: none;
  --show-in-light-mode: block;

  // Fonts
  --base-font-size: 1.23rem;

  --font-size-xs: calc(var(--base-font-size) * 0.6);
  --font-size-sm: calc(var(--base-font-size) * 0.8);
  --font-size-base: var(--base-font-size);
  --font-size-md: calc(var(--base-font-size) * 1.2);
  --font-size-lg: calc(var(--base-font-size) * 1.5);
  --font-size-xl: calc(var(--base-font-size) * 2.4);
  --font-size-xxl: calc(var(--base-font-size) * 3);

  --font-family-one: 'DM Sans', sans-serif;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  // Padding
  --base-padding: 1rem;

  --padding-xs: calc(var(--base-padding) * 0.3);
  --padding-sm: calc(var(--base-padding) * 0.5);
  --padding-base: var(--base-padding);
  --padding-md: calc(var(--base-padding) * 1.5);
  --padding-lg: calc(var(--base-padding) * 2);
  --padding-xl: calc(var(--base-padding) * 3);
  --padding-xxl: calc(var(--base-padding) * 6);

  // Margin
  --base-margin: 1rem;

  --margin-xs: calc(var(--base-margin) * 0.3);
  --margin-sm: calc(var(--base-margin) * 0.5);
  --margin-base: var(--base-margin);
  --margin-md: calc(var(--base-margin) * 1.5);
  --margin-lg: calc(var(--base-margin) * 2);
  --margin-xl: calc(var(--base-margin) * 3);
  --margin-xxl: calc(var(--base-margin) * 6);

  // Responsive
  --xl--container--width: 1600px;
  --lg--container--width: 1200px;
  --base--container--width: 900px;
  --sm--container--width: 600px;
  --xs--container--width: 300px;

}

[data-theme='dark'] {
  --background-color: #151514;
  --light-color: #ffffff;
  --secondary-color: #62271D;
  --accent-color-one: #FFD3BB;

  --dark-color: #151514;

  --dark-color-900: hsl(0, 0%, 10%);   // Darker
  --dark-color-800: hsl(0, 0%, 20%);
  --dark-color-700: hsl(0, 0%, 30%);
  --dark-color-600: hsl(0, 0%, 40%);
  --dark-color-500: hsl(0, 0%, 50%);   // Base color
  --dark-color-400: hsl(0, 0%, 60%);
  --dark-color-300: hsl(0, 0%, 70%);
  --dark-color-200: hsl(0, 0%, 80%);
  --dark-color-100: hsl(0, 0%, 90%);   // Lighter

  --primary-color: #E5D6CE;

  --primary-color-900: hsl(25, 35%, 10%);   // Darker
  --primary-color-800: hsl(25, 35%, 20%);
  --primary-color-700: hsl(25, 35%, 30%);
  --primary-color-600: hsl(25, 35%, 40%);
  --primary-color-500: hsl(25, 35%, 50%);   // Base color
  --primary-color-400: hsl(25, 35%, 60%);
  --primary-color-300: hsl(25, 35%, 70%);
  --primary-color-200: hsl(25, 35%, 80%);
  --primary-color-100: hsl(25, 35%, 90%);   // Lighter

  --secondary-color: #62271D;
  --secondary-color-900: hsl(18, 75%, 10%);  // Darker
  --secondary-color-800: hsl(18, 75%, 20%);
  --secondary-color-700: hsl(18, 75%, 30%);
  --secondary-color-600: hsl(18, 75%, 40%);
  --secondary-color-500: hsl(18, 75%, 50%);  // Base color
  --secondary-color-400: hsl(18, 75%, 60%);
  --secondary-color-300: hsl(18, 75%, 70%);
  --secondary-color-200: hsl(18, 75%, 80%);
  --secondary-color-100: hsl(18, 75%, 90%);  // Lighter

  --font-color: #ffffff;

  // darkmode toggle
  --show-in-dark-mode: block;
  --show-in-light-mode: none;

}
